body {background-color: darkcyan;}
.q1 {border: 2px solid white;
    width: 320px; height: 430px;
    background-color: white;
    padding: 0px 0px 40px 40px;
border-radius: 20px;
margin-left: 400px;
margin-top: 50px;
margin-right: 500px;
margin-bottom: 50px;}
img {width: 230px; height: 230px;
padding-left: 10px;
padding-right: 10px;}
p {color: grey;}
button {background-color: orange;
color: white;
border-radius: 5px;
border-color: orange;
height: 30px;
padding-right: 20px;
}
a {color: orange;
padding-left: 40px;
}